[submodule "third-party/json/json"]
	path = third-party/json/json
	url = https://github.com/nlohmann/json
[submodule "third-party/mongo-cxx-driver/mongo-cxx-driver"]
	path = third-party/mongo-cxx-driver/mongo-cxx-driver
	url = https://github.com/mongodb/mongo-cxx-driver
	branch = legacy
